[data-mapview]{
    height: calc(100vh - 70px);
}

.map-view{
    height: calc(100%);
    position: relative;

    input[type="range"]{
        margin-left: 4px;
        display: inline-block;
        width: 130px;
        position: relative;
        top: 6px;
    }

    .map-container{
        height: 100%;
        position: relative;
        .standby{
            z-index: 99999;
        }
    }
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.map-header {
    position: absolute;
    z-index: 999;
    padding-left: 320px;
    text-shadow: 2px 2px #000000;
}

.content {
    padding-top: 0 !important;
}

#page-wrapper {
    padding-bottom: 0 !important;
}

.alert-warning {
    position: absolute;
    z-index: 9999;
    width: 100%;
}