.measurementTable tbody {
  display: block;
  max-height: 250px;
  overflow-y: scroll;
}

.measurementTable thead, .measurementTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.measurementTableContainer {
  position: absolute;
  z-index: 999;
  background-color: #1a2326;
  min-height: 120px;
  right: 0;
  bottom: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 0.9em;
  width: 500px;
  border-radius: 5px;
  padding: 10px;
}

.table th, .table td {
  border-top: 0 !important;
}

.table > :not(caption) > * > * {
  background-color: #1a2326 !important;
}