.switchModeButton{
    border-width: 1px;
    background-color: #1a2326 !important;
    color: white !important;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 1em 1.3em;
    border-color: #2e5055 !important;
}
